<div class="container mt-4">
    <div class="card">
      <div class="card-header">
        Perfil de Usuario
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-4">
            <img src="https://via.placeholder.com/150" alt="Imagen de perfil" class="img-fluid rounded-circle">
          </div>
          <div class="col-md-8">
            <h5 class="card-title">Nombre Apellido</h5>
            <p class="card-text">Edad: 20</p>
            <p class="card-text">Carrera: Ingeniería Informática</p>
            <p class="card-text">Intereses:</p>
            <ul class="list-group">
              <li class="list-group-item">Interés 1</li>
              <li class="list-group-item">Interés 2</li>
              <li class="list-group-item">Interés 3</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card-footer text-muted">
        Redes Sociales:
        <a href="#" class="btn btn-primary btn-sm">Facebook</a>
        <a href="#" class="btn btn-info btn-sm">Twitter</a>
        <a href="#" class="btn btn-danger btn-sm">Instagram</a>
      </div>
    </div>
  </div>
  