
<div style="margin-left: 200px;"> <!-- Agrega margen izquierdo para evitar la superposición del contenido -->
  <app-menu></app-menu>
  
<div class="container"  *ngFor="let itemNew of newsJson; let indice = index">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <div class="card">
        <div class="card-header">
          {{ itemNew.name }}
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p>{{ itemNew.description }}</p>
            <footer class="blockquote-footer"><cite title="Source Title">{{ itemNew.user }}</cite></footer>
          </blockquote>
          <img src="../foto.jpg" class="card-img-top">
        </div>
      </div>
    </div>
    <div class="col-2"></div>
  </div><br>
</div>


